:root {
    /* Colors */
    --color-primary: #3483df;
    --color-secondary: #0f0f0f;
    --color-accent: #5f6772;
    --color-text-orange: rgb(255, 84, 0);
    --color-text-ash: #595956;
    --color-white: #ffffff;

    /* Font Sizes */
    --font-size-small: 14px;
    --font-size-base: 16px;
    --font-size-medium: 18px;
    --font-size-lg: 24px;
    --font-size-xl: 28px;
    --font-size-extra-large: 48px;
    --font-size-heading: 68px;

    /* Spacing */
    --spacing-gap-small: 8px;
    --spacing-gap-medium: 12px;
    --spacing-gap-large: 36px;
    --spacing-padding: 22px;
    --nav-padding-horizontal: 100px;

    /* Icon Sizes */
    --logo-size: 32px;
    --nav-logo-size: 32px;
}
/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
body {
    background-color: #fafafa;
}

.box__container {
    width: 90%;
    margin: 0 auto;
}

.primary__button {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: var(--font-size-medium);
    font-weight: 500;
    line-height: 24px;
    padding: 8px 18px;
    border: none;
    border-radius: 8px;
}
.secondary__button {
    background-color: #f1f2f3;
    color: var(--color-primary);
    font-size: var(--font-size-medium);
    font-weight: 500;
    line-height: 24px;
    padding: 8px 18px;
    border: none;
    border-radius: 8px;
}

/* header */
.navbar {
    display: flex;
    padding: 24px 0;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.company__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}
.company__logo img {
    width: 32px;
    height: 32px;
}
.company__logo p {
    color: var(--color-secondary);
    font-size: var(--font-size-xl);
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.56px;
    cursor: pointer;
}

/* nav link */
.nav__link {
    display: flex;
    align-items: center;
    gap: 32px;
}
.nav__link li {
    list-style: none;
    color: var(--color-accent);
    font-size: var(--font-size-medium);
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
}
.nav__link li:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
    border-bottom: 1px solid #000;
}

.nav__active__link {
    color: var(--color-secondary) !important;
    border-bottom: 1px solid #000;
    font-weight: 600 !important;
}

/* nav action button */
.nav__action__button {
    display: flex;
    gap: 8px;
    align-items: center;
}

/* hero section */
.hero__section {
    display: flex;
    gap: 24px;
}

.hero__content {
    width: 60%;
}

.hero__batch {
    color: var(--color-primary);
    font-weight: 500;
    font-size: var(--font-size-medium);
    letter-spacing: 0.5px;
    /* line-height: 26px; */
    text-transform: uppercase;
}

.hero__button__container {
    display: flex;
    gap: 24px;
    align-items: center;
}

.hero__heading__content p {
    color: var(--color-secondary);
    font-weight: 700;
    font-size: var(--font-size-extra-large);
    line-height: 56px;
}

.watch__button {
    display: flex;
    gap: 4px;
    align-items: center;
}

.filter {
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    /* gap: 16px; */
}

.filter__tab {
    display: flex;
    align-items: center;
}

.filter__tab li {
    list-style: none;
    padding: 15px 20px;
    font-size: var(--font-size-medium);
    font-weight: 500;
    letter-spacing: -0.5;
    cursor: pointer;
}

.filter__content {
    display: flex;
    align-items: end;
    padding: 24px 32px;
    gap: 12px;
    bottom: 0;
}

.filter__input__field__container {
    display: flex;
    gap: 12px;
    align-items: center;
}

.active__tab {
    font-weight: 700 !important;
    color: var(--color-primary) !important;
    border-bottom: 3px solid var(--color-primary);
}

.input__fields {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.input__fields label {
    font-size: var(--font-size-base);
    font-weight: 500;
    color: #4d5461;
}

.input__fields input {
    color: #000929;
    font-size: var(--font-size-medium);
    font-weight: 600;
    padding: 8px;
    height: 36px;
    outline: none;
}

.hero__image {
    width: 40%;
}

.hero__image img {
    width: 100%;
    height: 400px;
    border-radius: 16px;
}
.containers__box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 100px 0;
    gap: 18px;
}
.containers__box__item {
    border: 1px solid #e3e8ef;
    border-radius: 14px;
    background: var(--color-white);
    padding: 35px 41px;
}
.containers__box__item h3 {
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}
.containers__box__item p {
    font-size: 18px;
    color: var(--color-text-ash);
}
/* info section */
.info__section {
    display: flex;
    gap: 24px;
    padding: 64px 0px 120px 0px;
}
.info__container_1 {
    width: 100%;
    border-radius: 16px;
    background: rgb(208, 224, 243);
}

.house__image img {
    width: 100%;
    height: 263px;
    object-fit: cover;
}
.house__text {
    padding: 32px 32px 0px 32px;
}
.house__text h4 {
    font-size: 24px;
}
.house__text p {
    font-size: 14px;
    color: var(--color-text-ash);
}
.info__container_1__button {
    border-radius: 8px;
    border: none;
    padding: 10px 18px;
    color: var(--color-white);
    background-color: var(--color-primary);
    margin: 24px 0 0 0;
}
.property__insurance {
    display: flex;
    flex-direction: column;
    gap: 90px;
}
.Property__Insurance__icon {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
/* Service Section */
.service__section {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.service__section__text p {
    color: var(--color-primary);
    font-size: 16px;
}
.service__section__text {
    padding-bottom: 10px;
}
.service__section__text h4 {
    font-size: 24px;
}
.service__section_1 {
    display: flex;
    gap: 10px;
}

.service__section__img__container__1 img {
    width: 100%;
}

.service__section__img__container {
    display: flex;
    flex-direction: column;
}

/* patner companies */
.patner__companies p {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text-ash);
}

.patner__companies__logo {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}
/* latest properties section */

/* ongoin__project */
.ongoin__project {
    padding: 120px 0;
}

.ongoin__project__header {
    display: flex;
    justify-content: space-between;
}
.ongoin__project__image {
    display: flex;
    gap: 24px;
}
.ongoin__project__image img {
    border-radius: 16px;
    flex: 1;
}
/* testimonial */
.testimonial {
    display: flex;
    flex-direction: column;
    gap: 44px;
    padding: 120px 0;
}

.testimonial__header h3 {
    font-size: 38px;
}
.star {
    display: flex;
    align-items: center;
    gap: 5px;
}
.reviews__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.review__cart {
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 24px;
}
.reviews {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.reviews h5 {
    color: #0f0f0f;
    font-weight: 600;
    font-size: 18px;
}
.reviews p {
    color: #949494;
    width: 400;
    font-size: 16px;
}
.avater {
    display: flex;
    gap: 10px;
}
/* media query breakpoints for responsive */
/* navbar */
/* Extra small devices (phones, less than 576px) */
@media (max-width: 480px) {
    /* CSS rules for phones and very small screens */
    .nav__link,
    .nav__action__button,
    .navbar {
        flex-direction: column;
    }
}

@media (min-width: 480px) and (max-width: 600px) {
    .nav__link,
    .nav__action__button,
    .navbar {
        flex-direction: column;
    }
    .reviews__container {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 600px) and (max-width: 768px) {
    .nav__link,
    .nav__action__button,
    .navbar {
        flex-direction: column;
    }
    .reviews__container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 480px) {
    /* CSS rules for phones and very small screens */
    .nav__link {
        gap: 16px;
    }
    .hero__section,
    .filter__input__field__container,
    .filter__content,
    .hero__button__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    .hero__image {
        width: 80%;
    }
    .filter__tab {
        justify-content: center;
    }
    .hero__heading__content p {
        font-size: 23px;
        line-height: 30px;
    }
    .hero__batch {
        font-size: 12px;
    }
    .reviews__container {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 480px) and (max-width: 600px) {
    .hero__section,
    .filter__input__field__container,
    .filter__content,
    .hero__button__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero__image {
        width: 80%;
    }
    .filter__tab {
        justify-content: center;
    }
    .hero__heading__content p {
        font-size: 30px;
        line-height: 40px;
        padding: 5px;
    }
}
@media (min-width: 600px) and (max-width: 768px) {
    .hero__section,
    .filter__input__field__container,
    .filter__content,
    .filter__content,
    .hero__button__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero__image {
        width: 80%;
    }
    .filter__tab {
        justify-content: center;
    }
    .hero__heading__content p {
        font-size: 30px;
        line-height: 40px;
        padding: 5px;
    }
}

/* 4 box Container  */
@media (max-width: 480px) {
    .containers__box {
        grid-template-columns: repeat(1, 1fr);
    }
    .containers__box__item h3 {
        font-size: 24px;
    }
    .containers__box__item p {
        font-size: 12px;
        text-align: center;
    }
}
/* Mobile (up to 480px) */
@media (min-width: 480px) and (max-width: 600px) {
    .containers__box {
        grid-template-columns: repeat(2, 1fr);
    }

    .containers__box__item h3 {
        font-size: 36px;
    }
    .containers__box__item p {
        font-size: 16px;
        text-align: center;
    }
    .containers__box {
        flex-direction: column;
        gap: 24px;
    }
}
@media (min-width: 600px) and (max-width: 768px) {
    .containers__box {
        grid-template-columns: repeat(2, 1fr);
    }

    .containers__box__item h3 {
        font-size: 32px;
    }
    .containers__box__item p {
        font-size: 14px;
        text-align: center;
    }
}
/* info section */

@media (max-width: 480px) {
    .info__section {
        flex-direction: column;
    }
}
@media (min-width: 480px) and (max-width: 600px) {
    .info__section {
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width: 600px) and (max-width: 768px) {
    .info__section {
        flex-direction: column;
        align-items: center;
    }
}

/* patner companies */
@media (max-width: 480px) {
    .patner__companies__logo {
        grid-template-columns: repeat(2, 3fr);
        justify-items: center;
    }
}
@media (min-width: 480px) and (max-width: 600px) {
    .patner__companies__logo {
        grid-template-columns: repeat(2, 3fr);
        justify-items: center;
    }
}
@media (min-width: 600px) and (max-width: 768px) {
    .patner__companies__logo {
        grid-template-columns: repeat(3, 3fr);
        justify-items: center;
    }
}

/* ongoin__project */
@media (max-width: 480px) {
    .ongoin__project__image {
        flex-direction: column;
    }
}
